name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions: read-all

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Rust
        run: rustup show

      - name: Manage Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Check code formatting
        run: cargo fmt --check

      - name: Lint code
        run: cargo clippy

  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Rust
        run: rustup show

      - name: Manage Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Install devtools
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-binstall,cargo-llvm-cov,cargo-nextest

      - name: Install 1Password CLI
        uses: 1password/install-cli-action@v1

      - name: Run tests
        run: |
          cargo llvm-cov nextest --workspace --lcov --output-path lcov.info
          cargo llvm-cov report --summary-only

      - name: Upload test results to Codecov
        uses: codecov/codecov-action@v5
        with:
          use_oidc: true
          fail_ci_if_error: false
          report_type: test_results
          files: target/nextest/default/junit.xml

      - name: Upload coverage report
        uses: codecov/codecov-action@v5
        with:
          use_oidc: true
          fail_ci_if_error: false
          files: lcov.info
